*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.Mainholder{
    width: 100%;
    height: 100vh;
    /* background-image: url(https://i.pinimg.com/564x/c0/34/86/c03486ebf0b216447915b6b1a765ac1a.jpg); */
    /* background-color: rgb(59, 143, 84); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* background-position: 100%; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Post{
    width: 95%;
    height: 100%;
    background-color: lightgrey;
    /* background-image: url(https://i.pinimg.com/736x/02/30/e0/0230e0a13b38663a6447e5366d433ce6.jpg); */
    display: flex;
    /* position: relative; */
    gap: 2%;
}

.leftmid{
    width: 20%;
    height: 100%;
    background-color: white;
}

.logoholder{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoholder img{
    width: 65%;
    height: 100%;
    /* background-color: blue; */
}

.user{
    width: 100%;
    height: 30%;
    margin-top: 5%;
    /* background-color: blueviolet; */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}
.userholder{
    width: 100%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.Usercirclehold{
    width: 38%;
    height: 95%;
    background-color: lightgray;
    border-radius: 100%;
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}

.Usercirclehold img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}

.follower{
    width: 100%;
    height: 40%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.follower h3{
    margin-left: 10px;
}

.follower p{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftoption{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    /* background-color: darkblue; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 12px;
}


.Myfeeds{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.homefeeds{
    width: 20%;
    height: 90%;
}

.Explors{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.handbagand{
    width: 18%;
    height: 88%;

}

.myFavorites{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;

}

.myFavorites img{
    width: 16%;
    height: 70%;

}

.Directeee{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;

}

.arrow33{
    width: 23%;
    height: 90%;
}


.Igtvseries{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;


}

.igtveserioe{
    width: 18%;
    height: 88%;

}

.Stattable{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;

}

.stateee{
    width: 18%;
    height: 88%;

}

.Settingme{
    width: 45%;
    height: 35px;
    /* background-color: brown; */
    margin-left: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;

}

.setttt{
    width: 18%;
    height: 88%;

}

.logout{
    width: 100;
    height: 7%;
    margin-top: 1%;
    /* background-color: darkred; */
    display: flex;
    cursor: pointer;
    /* flex-direction: column; */
    /* margin-right: 50px; */
    /* margin-inline-end: 50px; */
    
}

.logouticon{
    width: 20%;
    height: 100%;
    margin-left: 9%;
    /* background-color: deeppink; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-inline-end: 20px; */
}

.logouticonimg{
    width: 50%;
    height: 50%;
}


.writeup{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    /* background-color: rgb(106, 255, 20); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.writeup h3{
    font-size: 89%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mid{
    width: 60%;
    height: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}


.searchtbn{
    width: 85%;
    height: 10%;
    background-color: white;
    border: solid white 1px;
    display: flex;
    justify-content: space-between;
    z-index: 99999;
}

.Searchbtn{
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    
}

.Searchbtn input{
    width: 95%;
    height: 50%;
    border-radius: 15px;
}

.Createpost1{
    width:20%;
    height: 100%;
    /* background-color:green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreatBox{
    width: 100%;
    height: 55%;
    /* background-color: red; */
    color: white;
    border-radius: 50px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    
    
}


.Secondphas{
    width: 90%;
    height: 50%;
    background-color: burlywood;
}

.Storiesandwatch{
    width: 85%;
    height: 30px;
    /* background-color: brown; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}


.top{
    width: 90%;
    height: 20%;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.holder1{
    width: 12%;
    height: 69%;
    border-radius: 50%;
    /* background-color: blue; */
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;


}

.plussign{
    width: 25%;
    height: 25%;
}

.holder2{
    width: 12%;
    height: 69%;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder2 img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}

.holder3{
   width: 12%;
    height: 69%;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}
.holder3 img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}


.holder4{
    width: 12%;
    height: 69%;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder4 img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}


.holder5{
   width: 12%;
    height: 69%;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}
.holder5 img{
    width: 95%;
    height: 95%;
    border-radius: 60%;
}


.holder6{
    width: 12%;
    height: 69%;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder6 img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}

.Nameslist{
    width: 100%;
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.Listnames{
    width: 20%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}


.PostMainBox{
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 10px 10px 5px 12px white;
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.27);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Boxcircleprofile{
    width: 100%;
    height: 25%;
    /* background-color: burlywood; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


.profilecircle{
width: 10%;
height: 70%;
background-color: lightgray;
border-radius: 100%;
background: linear-gradient(to bottom left, rgb(250, 122, 30), rgb(219, 48, 105), rgb(118, 65, 204), rgb(212, 42, 121));
margin: 5px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;

}

.profilecircle img{
    width: 90%;
    height: 90%;
    border-radius: 60%;
}

.Imageview{
    width: 95%;
    height: 99%;
    background-color: lightgray;
    border-radius: 5px;
}

.LIkesshare{
    width:95%;
    height: 13%;
    background-color: whitesmoke;
    border: solid white 2px;
    display: flex;
    align-items: center;
    /* gap: 15px; */
    justify-content: space-evenly;

    
}

.Likeme{
    width: 6%;
    height: 60%;
    font-weight: 200;
}

.Commentme1{
 width: 6%;
 height:60%;
 font-weight: 200;

}

.shareme1{
    width: 6%;
    height: 60%;
    font-weight: 200;
}

.LIkesshare img{
    width: 3%;
    height: 60%;
    font-weight: 200;

}

.PostText{
    width: 100%;
    height: 100px;
    /* background-color:white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.textdispkay{
    width: 95%;
    height: 100%;
    background-color: white;
}

.commentprofilepost{
    width:95% ;
    height: 100px;
    background-color: brown;
}

.rightmid{
    width: 20%;
    height: 100%;
    background-color: white;
    gap: 15px;
}

.iconsdashbar{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    border: solid white 1px;
    /* justify-content: space-between; */
    margin-left: 20px;
    gap: 40px;
}

.Arrowpost{
    width: 20%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.509);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bellpost{
    width: 20%;
    height: 100%;
    background-color:rgba(211, 211, 211, 0.509);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowpost{
    width: 50%;
    height: 100%;

}

.bellpost{
    width: 50%;
    height: 100%;

}

.menupost{
    width: 10% ;
    height: 100%;
}

.Trendingfeed{
    width: 100%;
    height: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* background-color: blue; */

    /* background-color: blue; */
    /* border-radius: 5px; */

}

.Trendingfeed h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.TrendinBox{
    width: 88%;
    height: 200px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;



}

.FirstBoxtrend{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.SecondBoxtrend{
    width: 49%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SecondBoxtrend img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SecondBoxtrend2{
    width: 49%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SecondBoxtrend2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.FirstBoxtrend2{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.SecondBoxtren3{
    width: 49%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SecondBoxtren3 img{
    width: 100%;
    height: 100%;
}


.SecondBoxtren4{
    width: 49%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SecondBoxtren4 img{
    width: 100%;
    height: 100%;
}

.suggestion{
    width: 90%;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LeftdashBox{
    width: 90%;
    height:60px;
    /* background-color: blue; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.LeftCirclebox{
    width: 30%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    /* align-items: center; */


}

.LeftCirclebox img{
    width: 95%;
    height: 95%;
    border-radius: 80%;
}



.Activist{
    width: 90%;
    height: 40px;
    /* background-color: aqua; */
    margin-left: 21px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clusterprofile{
    width: 90%;
    height: 45px;
    /* background-color: blue; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.clustercirlcle{
    width: 20%;
    height: 100%;
    background-color: lightgray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.839);
    
}
.clustercirlcle img{
    width: 100%;
    height: 100%;
    border-radius: 88%;
}

.followers24k{
    width: 90%;
    height: 28px;
    /* background-color: blueviolet; */
    margin-left: 20px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.fellowpeopel{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.activeonprofile{
    width: 90%;
    height: 30px;
    /* background-color: blue; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
